<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Hackathon</title>

  <link href="../static/nav-bar-style.css" rel="stylesheet"  type="text/css">
  <link href="../static/home-page.css" rel="stylesheet" type="text/css">

</head>
    <body>

        <div class="flex-navbar">
          <div class="flex-left">
              <div><img class="icons" src="../static/clickmyballs logo.png" alt="logo"></div>
              <div class="navoption"><a href="./home.html">Explore</a></div>
              <div class="navoption">How It Works</div>
              <div class="navoption"><a href="./trending.html">Marketplace</a></div>
          </div>
          
          <div class="right-flex">
              <div class="navoptionright_img"><img class="icons" src="../static/profile icon.png" alt="Profile"></div>
              <div class="navoptionright_img"><img class="icons" src="../static/cart icon.png" alt="Cart"></div>
              <div class="navoptionright_text">Upload A Photo</div>
              <div class="navoptionright_img"><img class="icons" src="../static/search icon.png" alt="Search" ></div>
          </div>
          
        </div>

        <div><h1 class="recent-title">Recent</h1></div>
        <div class="flex-images">
            <div class="display-images-left">
                <div class="left-images"><img class="images" src="../static/home-images/oscar-image-1-original.png"></div>
                <div class="left-images"><img class="images" src="../static/home-images/oscar-image-2-original.png"></div>
            </div>
            <div class="display-images-right"> 
                <div class="right-images>"><img class="images" src="../static/home-images/oscar-image-3-original.png"></div>
                <div class="right-images"><img class="images" src="../static/home-images/oscar-image-4-original.png"></div>
            </div>
        </div>


    </body>

   </html>