
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Hackathon</title>

  <link rel="stylesheet" href="../static/nav-bar-style.css">
  <link href="../static/showcasestyle.css" rel="stylesheet" type="text/css">

</head>
    <body>

        <div class="flex-navbar">
          <div class="flex-left">
              <div><img class="icons" src="../static/clickmyballs logo.png" alt="logo"></div>
              <div class="navoption">Explore</div>
              <div class="navoption">How It Works</div>
          </div>
          
          <div class="right-flex">
              <div class="navoptionright_img"><img class="icons" src="../static/profile icon.png" alt="Profile"></div>
              <div class="navoptionright_img"><img class="icons" src="../static/cart icon.png" alt="Cart"></div>
              <div class="navoptionright_text">Upload A Photo</div>
              <div class="navoptionright_img"><img class="icons" src="../static/search icon.png" alt="Search" ></div>
          </div>
          
        </div>

  <main>
    <div class="top-info">
      <div class="user-info">
        <!--<div class="img-container">
          <img src="./static/profilepic.jpg">
        </div> -->
        <div class="profile-img"></div>
        <div class="username"><p>Esuohtfol</p></div>
      </div>
      <div class="more-options">
        <p>...</p>
      </div>
    </div>


    <div class='image-section'>
      <div class="return-button">
        <div class="img-arrow"></div>
        <div class="text">
          <p>Back to Explore</p>
        </div>
      </div>
      <div class="showcase-image">
        <div id="scroll-left" class="scroll-button-left">
          <img id="scroll-left-img" src="../static/scroll-left.png">
        </div>
        <div class="main-image">
            <img id="picture-showcase-main-image" src="../static/profilepic.jpg" alt="sunset in LA">         
        </div>
        <div class="scroll-button-right" id="scroll-right">
          <img src="../static/scroll-right.png">
        </div>
      </div>
      

      <div class="image-info-options">
        <div class="top-line">
          <div class="rating">
            <img src="../static/star-ratings.png">
          </div>
          <div class="info-buttons">
            <button>&#128065 26</button>
            <button>&#128488 4</button>
            <p id="hackathon-functionality-button">PRINT TSHIRT</p>
            <button>&#8618 Share</button>
          </div>
        </div>

        <div id="hackathon-functionality" hidden>
          <p>PRINT FUNCTIONALITY TEST</p>
        </div>

        <div class="image-info">
          <p id='title' class="title">Image Title</p>
          <p id="date" class="date">10th November 2023</p>
          <p id="description" class="description">This is a picture of something, this picture includes pixels, 
            and colours, and has an object in the foreground, and maybe even a subject in the background.</p>
          <p class="categories">Category: <span id="category" class="bold">Nature/Beauty</span></p>
        </div>
        <div class="tags">
          <p id="tag-1">Tag1</p>
          <p id="tag-2">Tag2</p>
          <p id="tag-3">Tag3</p>
          <p id="tag-4">Tag4</p>
          <p id="tag-5">Tag5</p>
        </div>
      </div>
    </div>
  </main>
  

<!--SCRIPTS-->
<script type="module" src="../static/scripts/script.js"></script>

</body>

</html>
