<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/manhstyle.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Hackathon</title>
</head>
<body>
    <nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
          <i class="fa fa-remove"></i>
        </a>
        <div class="w3-bar-block w3-center">
          <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Home</a>
          <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Projects</a>
          <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">About</a>
          <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Services</a>
          <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Get in Touch</a>
        </div>
      </nav>

      <div class="w3-content" style="max-width:1500px">

        <!-- Header -->
        <div class="w3-opacity">
        <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span> 
        <div class="w3-clear"></div>
        <header class="w3-center w3-margin-bottom">
          <h1><b>functions demo</b></h1>
          <p class="w3-padding-16"><button class="w3-button w3-black" onclick="myFunction()">Toggle Grid Padding</button></p>
        </div>
        <select id="sort">
        <option value="likes">Likes</option>
        <option value="comments">Comments</option>
        <option value="sales">Sales</option>
        <option value="popularity">Popularity</option>
        <option value="date">Date</option>
        </select>
        <select id="dateSort">
        <option value="default">Default</option>
        <option value="week">Week</option>
        <option value="month">Month</option>
        <option value="year">Year</option>
        </select>
        <table></table>
        </header>
        </div>
        <div class="w3-row" id="myGrid" style="margin-bottom:128px">
            <div class="w3-third">
              <img src="/static/oscar-image-4-original.png" style="width:100%">
              <img src="/static/oscar-image-4-original.png" style="width:100%">
              <img src="/static/oscar-image-4-original.png" style="width:100%">
            </div>
          
            <div class="w3-third">
              <img src="/static/oscar-image-4-original.png" style="width:100%">
              <img src="/static/oscar-image-4-original.png" style="width:100%">
              <img src="/static/oscar-image-4-original.png" style="width:100%">
            </div>
          
            <div class="w3-third">
              <img src="/static/oscar-image-4-original.png" style="width:100%">
              <img src="/static/oscar-image-4-original.png" style="width:100%">
              <img src="/static/oscar-image-4-original.png" style="width:100%">
            </div>
          </div>
          <button id="generateQRCode">Generate QR Code</button>
              <input type="color" id="backgroundColorInput" value="#ffffff"> Background Color
              <input type="color" id="foregroundColorInput" value="#000000"> Foreground Color
          <div id="qrcode"></div>
          </div>


<input type="file" id="imageInput" accept="image/*">
<select id="imageEffects">
<option value="none">No Effect</option>
<option value="blackAndWhite">Black & White</option>
<option value="sepia">Sepia</option>
<option value="cartoon">Cartoon</option>
<option value="pixelation">Pixelation</option>
</select>
<button id="applyEffect">Apply Selected Effect</button>
<canvas id="canvas" style="display: none;"></canvas>
<img id="styledImage" alt="Styled Image">
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script src="/static/manhscript.js"></script>
</body>
</html>